 <div class="stripe">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img class="obama" src="http://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/President_Barack_Obama.jpg/220px-President_Barack_Obama.jpg" alt="">
        </div>
        <div class="col-md-8">
          <h2>Barack Obama</h2> 
          <div class="member">
            Member since 2008
          </div>
          <div class="text">Barack Hussein Obama II is the 44th and current President of the United States, and the first African American to hold the office. Born in Honolulu, Hawaii, Obama is a graduate of Columbia University and Harvard Law School, where he served as president of the Harvard Law Review. He was a community organizer in Chicago before earning his law degree. He worked as a civil rights attorney and taught constitutional law at the University of Chicago Law School from 1992 to 2004. He served three terms representing the 13th District in the Illinois Senate from 1997 to 2004, running unsuccessfully for the United States House of Representatives in 2000.</div>
        
        <div class="location"><b>Location:</b> Washington DC</div>
          <div class="completion"> <b> Completion:</b><img src="https://www.devexpress.com/Subscriptions/VCL/v/34/i/ProgressBar-Highlight.gif" alt="" height="50" width="25"></div>
      </div>
    </div>
  </div>